<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.email.ruser.mapper.CdsEmailUserMapper">
    
	<sql id="cdsEmailUserColumns">
		a.id AS "id",
		a.send_email_id AS "email",
		a.email_setting_id AS "emailSetting",
		a.send_times AS "sendTimes",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="cdsEmailUserJoins">
		
		LEFT JOIN sys_user createBy ON createBy.id = a.create_by
	</sql>
	
    
	<select id="get" resultType="CdsEmailUser" >
		SELECT 
			<include refid="cdsEmailUserColumns"/>
		FROM cdsr_email_user a
		<include refid="cdsEmailUserJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="CdsEmailUser" >
		SELECT 
			<include refid="cdsEmailUserColumns"/>
		FROM cdsr_email_user a
		<include refid="cdsEmailUserJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="email != null and email != ''">
				AND a.send_email_id = #{email}
			</if>
			<if test="emailSetting != null and emailSetting != ''">
				AND a.email_setting_id = #{emailSetting}
			</if>
			<if test="beginSendTimes != null and endSendTimes != null ">
				AND a.send_times BETWEEN #{beginSendTimes} AND #{endSendTimes}
			</if>
			<if test="createBy != null and createBy.id != null and createBy.id != ''">
				AND a.create_by = #{createBy.id}
			</if>
			<if test="remarks != null and remarks != ''">
				AND a.remarks LIKE 
					<if test="dbName == 'oracle'">'%'||#{remarks}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{remarks}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{remarks},'%')</if>
			</if>
			<if test="delFlag != null and delFlag != ''">
				AND a.del_flag = #{delFlag}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="CdsEmailUser" >
		SELECT 
			<include refid="cdsEmailUserColumns"/>
		FROM cdsr_email_user a
		<include refid="cdsEmailUserJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO cdsr_email_user(
			id,
			send_email_id,
			email_setting_id,
			send_times,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{email},
			#{emailSetting},
			#{sendTimes},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE cdsr_email_user SET 	
			send_email_id = #{email},
			email_setting_id = #{emailSetting},
			send_times = #{sendTimes},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM cdsr_email_user
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE cdsr_email_user SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="CdsEmailUser" statementType="STATEMENT">
		select * FROM cdsr_email_user  where ${propertyName} = '${value}'
	</select>
	
</mapper>